<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>APAP Medika</title>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-body-tertiary gradient-custom">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/" style="color: white;">
                <i class="fas fa-clinic-medical"></i>   APAP Medika
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item me-3">
                        <a class="nav-link" id="nav-home" href="/" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" id="nav-appointment" href="/appointment/all" style="color: white;">Appointment</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" id="nav-doctor" href="/doctor/all" style="color: white;">Doctors</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>