<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>APAP Medika</title>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
        <h1 class="fw-bold text-center mb-5">Appointment System</h1>

        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text-center display-4 fw-bold" th:text="${totalAppointmentToday}"></h1>
                <p class="card-text text-center">Today's Ongoing Appointment</p>
            </div>
        </div>

        <h2></h2>
    </div>
</body>

</html>