<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>APAP Medika</title>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
        <h1 class="text-center fw-bold">Patient Not Found</h1>
        <p class="text-center">Please insert a new patient before making an appointment</p>
        <div class="text-center">
            <a href="/appointment/create-with-patient" class="btn btn-primary">Insert New Patient</a>
        </div>
    </div>

</body>

</html>